<%# content_for :page_content do %>
<!--Content-->


<article class="pt-page pt-page-4 bg-image4" id="works">
  <div class="outer-wrapper overlay-blue">

    <%= render 'layouts/header', :@header => "The community" %>

    <section class="row-fluid">
    <div class="container">
      <div class="span12">
        <p>The Adelaide Startup community is made up of a number of vibrant rah rah rah...</p>
      </div>
    </div>
    <div class="container">

      <div class="portfolioFilter">
        <a href="#" data-filter="*" class="current">All</a>
        
        <% @categories.each do |category| %>
          <a href="#" data-filter=".<%= category.cat_class %>"><%= category.name %></a>
        <% end %>
      </div>
 
      <div class="portfolioContainer">
        <% @nodes.each do |node| %>
          <div class="<%= node.category.cat_class %>">
            <%= node.name %>
          </div>
        <% end %>
      </div>
    </div>
  <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
</div>
<!--Footer-->
<%= render 'layouts/footer' %>


</article>


<%# end %>

<%#= render file: 'layouts/page', :@number=>3, :@page_id=>3 %>