<nav class="submenu ">
	<ul>
<!-- 	  <li><a href="#about" class="page-transition" onclick="gotoPageWithTrans5(1)">About</a></li>
	  <li><a href="#feedback" class="page-transition" onclick="gotoPageWithTrans1(6)">Contact</a></li>
	  <li><a href="#starting" class="page-transition" onclick="gotoPageWithTrans1(3)">Search</a></li>

	  <li><a href="#explore" class="page-transition" onclick="gotoPageWithTrans1(4)">Explore</a></li>
 -->

		<li><%= controller.action_name.titleize %></li>
		<li><%= link_to "About", about_path if !(controller.action_name == "about") %></li>
		<li><%= link_to "Explore", explore_path if !(controller.action_name == "explore") %></li>
		<li><%= link_to "Search", search_path if !(controller.action_name == "search") %></li>
		<li><%= link_to "Contact", contact_path if !(controller.action_name == "contact") %></li>

	</ul>
</nav>