<!DOCTYPE html>
<html <%#= yield(:html_data) %>>
	<head>
	  <title>Startup Adelaide</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<!--Bootstrap-->

		<!--[if lt IE 9]>
		<link href="css/ie8.css" rel="stylesheet" media="screen">
		<script src="assets/html5shiv.js" type="text/javascript"></script>
		<![endif]-->
		<!--Background Images-->

	</head>

	<body <%= yield(:body_data) %> data-controller="<%= controller_name %>" data-action="<%= action_name %>">

		<div id="pt-main" class="pt-perspective" style="display:none">
			<%= yield(:laid_out) %>
		</div>

	</body>

</html>
